body{
    margin: 0;
    padding: 0;
}

footer{
    height: 177px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer h2{
    color: #FF5959;
    font-family: 'Lobster', cursive;
    margin-bottom: 4px;
}
footer p{
    color: #D9DBE1;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
}