body{
    margin: 0;
    padding: 0;
}

.header{
    height: 670px;
    background-image:
    linear-gradient(to bottom, rgb(159 163 182 / 52%), rgb(0 0 0 / 82%)),
    url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header h1{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 60px;
    text-align: center;
} 
.header p{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.header a{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.today_donate{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.today_donate h1{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
} 
.today_donate p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.amount{
    display: flex;
    padding-bottom: 30px;
}
.selected_option{
    background-color: #FFEEEE ;
    border: 1px solid #FF5959;
    text-decoration: none;
    border-radius: 5px;
    padding: 20px 15px;
    margin-right: 10px;

}
.not_selected{
    text-decoration: none;
    border-radius: 5px;
    padding: 20px 15px;
    margin-right: 10px;
    background-color: #FAFAFA;
}

input[type='text']{
    outline: none;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: groove;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #B3B3B3;
    border-bottom-color: #fbfbfb;
}
.today_donate a{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.donate_plan{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardbox{
    display: flex;
}
.card{
    width: 250px;
    padding: 40px 40px;
    border-radius: 5px;
    margin-right: 20px;
}
.first{
    background-color: #4f9da639;
}
.second{
    background-color: #ff595934;
}
.third{
    background-color: #FFF4D6;
}
.getupdate{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.getupdate h1{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
.getupdate p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.contribution_process{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.email{
    background-color: #FFF4D6;
    width: 700px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email a{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    border-radius: 0px 5px 5px 0px;
    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
input[type='email']{
    background-color: #D9D9D9;
    border: none;
    padding: 12px 100px 12px 14px;
    border-radius: 5px 0px 0px 5px;
}

footer{
    height: 177px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer h2{
    color: #FF5959;
    font-family: 'Lobster', cursive;
    margin-bottom: 4px;
}
footer p{
    color: #D9DBE1;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
}